# python related files
*.pyc
*.pyo
*.egg
*.egg-info
__pycache__

*.bkp
*.drawio.bkp
todolist-*.db
jf-cli.sh
my-files/.jfrog/*
# sqlite db
*.db
my-files/scripts-sh/.jfrog/*
my-files/scripts-sh/org/*
my-files/scripts-sh/flask-todo/*

# test, build, etc
build
docs/_build
dist
results
venv

# editor
.ropeproject
.vscode
